body {
  color: darkred;
  text-align: center;
}

header h1 {
  text-align: center;
}

header ul li {
  list-style: none;
  text-align: right;
}

header ul li a {
  text-decoration: none;
  color: darkred;
  
}

header ul li a:hover {
  color:deepskyblue;
}

.hide {
  display: none;
}

